.myButton{
    background-color:  #41B883;
    color: #282c34;
    font-size: medium;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    background-position: center;
    transition: background 0.8s;
}

.myButton:hover {
    background: rgb(14, 146, 87) radial-gradient(circle, transparent 1%, rgb(14, 146, 87) 1%) center/15000%;
}


.myButton:active {
background-color: #6eb9f7;
background-size: 100%;
transition: background 0s;
}